[Unit]
Description=PICO Foxweb Service
After=network.target 

[Service]
ExecStart=/usr/local/sbin/PICOFoxweb 8080 /var/www/foxweb/webroot
KillMode=process
User=root
Group=root

[Install]
WantedBy=multi-user.target
